.auth-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button {

  .login-button__inner {
    display: flex;
  }

  &__icon {
    width: 30px;
    height: 30px;
    align-self: center;
  }

  &__img {
    max-width: 100%;
  }
}
